main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

app-post{
    width: 100%;
    max-width: 740px;
}

app-add-comment{
    display: flex;
    width: 100%;
    max-width: 740px;
}

app-list-comments{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 740px;
    margin-bottom: 30px;
}

app-not-found{
    width: 100%;
}