<div class="container">
  <div class="single-info">
    <div class="title">
      <h2>Password</h2>
    </div>
    <div class="info">
      <div class="single">
        <div *ngIf="passwordUpdateError" class="errorDiv">
          <p class="errorMsg first">{{ passwordUpdateError }}</p>
        </div>
        <div *ngIf="successfullMsg" class="errorDiv">
          <p class="successfullMsg first">{{ successfullMsg }}</p>
        </div>
        <div class="field">
          <p>Old password</p>
          <input (keyup.enter)="onPasswordSave()" [disabled]="isPasswordUpdateLoading" type="password" placeholder="Old password" ngModel
            #oldPassword="ngModel" autocapitalize="off" required minlength="6" maxlength="20"
            [class.invalidField]="oldPassword.invalid && oldPassword.touched" />
        </div>
        <div class="errorDiv" *ngIf="
            oldPassword.errors && oldPassword.invalid && oldPassword.touched
          ">
          <small class="errorMsg" *ngIf="oldPassword.errors?.['required']">*Password is required!</small>
          <small class="errorMsg" *ngIf="oldPassword.errors?.['minlength']">*Password must be at least 6
            characters!</small>
          <small class="errorMsg" *ngIf="oldPassword.errors?.['maxlength']">*Password must not exceed 20
            characters!</small>
        </div>
        <div class="field">
          <p>New password</p>
          <input (keyup.enter)="onPasswordSave()" [disabled]="isPasswordUpdateLoading" type="password" placeholder="New password" ngModel
            #newPassword="ngModel" required minlength="6" maxlength="20"
            [class.invalidField]="newPassword.invalid && newPassword.touched" />
        </div>
        <div class="errorDiv" *ngIf="
            newPassword.errors && newPassword.invalid && newPassword.touched
          ">
          <small class="errorMsg" *ngIf="newPassword.errors?.['required']">*Password is required!</small>
          <small class="errorMsg" *ngIf="newPassword.errors?.['minlength']">*Password must be at least 6
            characters!</small>
          <small class="errorMsg" *ngIf="newPassword.errors?.['maxlength']">*Password must not exceed 20
            characters!</small>
        </div>
        <div class="field">
          <p>Repeat new password</p>
          <input (keyup.enter)="onPasswordSave()" [disabled]="isPasswordUpdateLoading" type="password" placeholder="Repeat new password" ngModel
            #newRePassword="ngModel" required minlength="6" maxlength="20" [class.invalidField]="
              newRePassword.invalid && newRePassword.touched
            " />
        </div>
        <div class="errorDiv" *ngIf="
            newRePassword.errors &&
            newRePassword.invalid &&
            newRePassword.touched
          ">
          <small class="errorMsg" *ngIf="newRePassword.errors?.['required']">*Repeat password is required!</small>
          <small class="errorMsg" *ngIf="newRePassword.errors?.['minlength']">*Repeat password must be at least 6
            characters!</small>
          <small class="errorMsg" *ngIf="newRePassword.errors?.['maxlength']">*Repeat password must not exceed 20
            characters!</small>
        </div>
        <div class="errorDiv" *ngIf="
            !passwordMatchValidator(newPassword, newRePassword) &&
            !newPassword.errors &&
            !newRePassword.errors
          ">
          <small class="errorMsg">Passwords do not match!</small>
        </div>
      </div>
    </div>
    <div class="button-div">
      <button *ngIf="!isPasswordUpdateLoading" [disabled]="
          oldPassword.invalid ||
          newPassword.invalid ||
          newRePassword.invalid ||
          !passwordMatchValidator(newPassword, newRePassword)
        " (click)="onPasswordSave()" class="save">
        Save changes
      </button>
      <app-spinner *ngIf="isPasswordUpdateLoading" />
    </div>
  </div>
</div>