<ng-container *ngIf="post">
    <div *ngFor="let comment of post!.comments" class="container">
            <div class="image-div">
                <img class="image" [src]="decode(comment?.owner?.profilePicture?.data!)"
                    (click)="navigateToUserProfile(comment!.owner.username)">
            </div>
            <div class="main">
                <div class="author-div">
                    <div (click)="navigateToUserProfile(comment!.owner.username)" class="author-name">
                        <p>{{comment.owner.firstName}} {{comment.owner.lastName}}</p>
                    </div>
                    <div (click)="navigateToUserProfile(comment!.owner.username)" class="author-username">
                        <p>@{{comment.owner.username}}</p>
                    </div>
                    <div class="publish-time">
                        <p>{{timeAgo(comment.createdAt)}}</p>
                    </div>
                    <div *ngIf="checkIfEdited(comment.createdAt,comment.lastEditedAt)" class="edited">
                        <p>Edited</p>
                        <i class="material-icons">edit</i>
                    </div>
                    <div *ngIf="isOwner(comment._id) && !isDeleting[comment._id] && !editState[comment._id]" class="actions">
                        <i *ngIf="!deleteState[comment._id]" (click)="onEdit(comment._id)" class="material-icons">edit</i>
                        <i *ngIf="!deleteState[comment._id]" (click)="onDelete(comment._id)" class="material-icons">delete</i>
                        <ng-container *ngIf="deleteState[comment._id]">
                            <i (click)="onDeleteCancel(comment._id)" class="material-icons">cancel</i>
                            <i (click)="onDeleteAccept(comment._id)" class="material-icons">done</i>
                        </ng-container>
                    </div>
                </div>
                <div class="comment" *ngIf="!isDeleting[comment._id] && !editState[comment._id]">
                    <p>{{comment.comment}}</p>
                </div>
                <div *ngIf="editState[comment._id]" class="edit-div">
                    <app-edit-comment [comment]="comment" (cancelCommentId)="onCommentChange($event)"/>
                </div>
                <div *ngIf="isDeleting[comment._id]" class="loader">
                    <app-spinner/>
                </div>
            </div>
    </div>
</ng-container>