<div class="container">
    <div class="textarea-div">
        <textarea name="description" [disabled]="isEditing" [(ngModel)]="description" placeholder="What's happening"></textarea>
    </div>
    <div *ngIf="post?.image && !previewUrl" class="image-div">
        <img [src]="decodeBuffer(post?.image!.data)" alt="">
        <div *ngIf="!isEditing" class="buttons">
            <i *ngIf="imageRemove" (click)="onImageRemoveCancel()" class="material-icons">cancel</i>
            <i *ngIf="imageRemove" (click)="onImageRemoveAccept()" class="material-icons">done</i>
        </div>
        <button *ngIf="!imageRemove && !isEditing" (click)="onImageRemove()" class="clear-btn">Remove existing photo</button>
    </div>
    <div *ngIf="previewUrl" class="image-div">
        <img [src]="previewUrl">
        <button *ngIf="!isEditing" (click)="onFileClear()" class="clear-btn">Remove selected photo</button>
    </div>
    <div *ngIf="!isEditing" class="actions">
        <input type="file" #fileInput (change)="onFileSelect($event)">
        <button class="upload-btn" (click)="fileInput.click()">Upload photo</button>
        <div class="save-cancel-btn">
            <button (click)="onCancel()" class="clear-btn cancel-btn">Cancel</button>
            <button (click)="onSave()" class="save-btn">Save</button>
        </div>
    </div>
    <div *ngIf="isEditing" class="spinner">
        <app-spinner/>
    </div>
</div>